*{
    margin: 0;
    padding: 0;
}

:root{
    --roxo-destaque: #9747FF;
    --roxo-hover: #8233E8;
    --text: #FFFFFF;
    --fundo: #0E1014;
    
}

.light-mode{
    --text: #232323;
    --fundo: #FFFFFF;
}

body{
    background-color: var(--fundo);
    overflow: hidden;
    transition: 1s ease-in;
}

header{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 2rem 10rem;
}

span{
    color: var(--roxo-destaque);
}

.logo{
    grid-column-start: 1;
}

.modeButton{
    grid-column-start: 3;
}

.modeButton:hover{
    cursor: pointer;

}

.title{
    font-family: "Unbounded";
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    color: var(--text);
    transition: 1s ease-in;
}

.subTitle{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text);
    transition: 1s ease-in;
}

.btnContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.demoButton{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text);
    background-color: var(--roxo-destaque);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    transition: 1s ease-in;
}

.demoButton:hover{
    background-color: var(--roxo-hover);
    cursor: pointer;
    transition: 0.3s;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}




