*{
    margin: 0;
    padding: 0;
}

:root{
    --roxo-destaque: #9747FF;
    --roxo-hover: #8233E8;
    --text: #FFFFFF;
    --fundo: #0E1014;
    
}

.light-mode{
    --text: #232323;
    --fundo: #FFFFFF;
}

body{
    background-color: var(--fundo);
    overflow: hidden;
    transition: 1s ease-in;
}


span{
    color: var(--roxo-destaque);
}

header{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 75px;
}

.logo{
    padding-left: 360px;
    grid-column-start: 2;
}

.logo:hover{
    cursor: pointer;
}

.modeButton{
    padding-right: 360px;
    grid-column-start: 4;
}

.modeButton:hover{
    cursor: pointer;

}

.title{
    font-family: "Unbounded";
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    color: var(--text);
    transition: 1s ease-in;
}

.subTitle{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text);
    transition: 1s ease-in;
    width: 792px;
    margin: 24px auto;
}



.demoButton{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text);
    background-color: var(--roxo-destaque);
    border: none;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

.demoButton:hover{
    background-color: var(--roxo-hover);
    cursor: pointer;
    transition: 0.3s;
}

.image{
    display: block;
    margin: 0 auto;
}

@media(max-width: 768px){

.subTitle{
    width: 648px;
}

.logo{
    padding-left: 80px;
    grid-column-start: 2;
}

.modeButton{
    padding-right: 80px;
    grid-column-start: 4;
}


}


@media(max-width: 375px){

.subTitle{
    width: 341px;
}

.image{
    width: 341px;
    height: 230px;
}

.demoButton{
    width: 251px;
    height: 66px;
}

.logo{
    padding-left: 16px;
    grid-column-start: 2;
}

.logo:hover{
    cursor: pointer;
}

.modeButton{
    padding-right: 16px;
    grid-column-start: 4;
}


}

